h1.commnunityHeading{
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(255,255,255,.7);
}

a{
    display: inline-block;
    position: relative;
    margin: 1%;
    float: left;
    width: auto;
    height: auto;
    border: 1px solid #fafffb;
    box-shadow: 5px 5px 5px #888888;
}

p{
    color: white;
}

.category{
    display:inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}


body {
    font-family: lucida grande ,tahoma,verdana,arial,sans-serif;
    background-image: url('../Images/background.jpg');
}

body p {
    line-height: 1.25;
}


#banner {
    background-image: url(../Images/bar_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

footer {
    clear: both;
    width: auto;
    height: 40px;
    padding: 10px;
    border: 3px solid #E3E3E3;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em #333;
    background-image: url(../Images/bar_background.png);
}
