
.styled-select select {
    background: transparent;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    padding: 15px 20px 15px 40px;
}

.styled-select {
    border: 2px solid #ccc;
    float: right;
    width: 20%;
    overflow: hidden;
    background: url(../../Images/arrow.png) no-repeat right white;
    background-size: 25px 25px;
    background-position: 10px 10px;
}

select{
    color: #929292;
}

option
{
    color: black;
}

.community input{
    padding-bottom: 1px;
    margin: 0;
}

.community input[type=text] {
    width: 200px;
    float: right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../../Images/search.png');
    background-size: 25px 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 15px 20px 15px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.community input[type=text]:focus {
    width: 79.5%;
}
